{% extends 'base.twig' %}
{% block content %}
    <h1>Login</h1>
    <p>If you're new you need to <a href="/register">REGISTER</a></p>
    <form action="/login" method="post">
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="login">
    </form>
{% endblock %}
Footer
